:root {

	--accordion-heading-bg: linear-gradient(to bottom, #249494, #7fe6e6);
	--accordion-heading-color:#FFF6D5;
	--accordion-heading-color-hover:#106363;
	
	--accordion-item-bg: #b8f7f7;
	--accordion-item-color:#106363;
	--accordion-item-bg-hover: #a9eeee;
	--accordion-item-bg-active:#a9eeee;
	
	--aside-link-bg: linear-gradient(-80deg,#81e0ac,#11bcc9);
	--aside-link-color: #FFF6D5;
	--aside-link-color-hover: #106363;
	
	--body-bg: #b0f1e9;
	--main-bg: #e5f5f3; 
	--main-font-color: #177a7a;

	--footer-bg: #249494;
	--footer-color:rgb(223, 215, 186);
	--footer-heads: #0c5050;

	--header-info-color: #106363;

	--navbar-bg: linear-gradient(to bottom, #7fe6e6, #249494 );
	--navbar-color: #FFF6D5;
	--navbar-item-color-hover:#106363;
	--navbar-item-color-active: #106363;

	--navbar-item-level2-bg: #b8f7f7;
	--navbar-item-level2-color: #106363;
	--navbar-item-level2-bg-hover: #a9eeee;
	--navbar-item-level2-bg-active: #a9eeee;

	--btn-search-color:#FFF6D5;   
	--btn-search-border-color: #FFF6D5;
	--btn-search-color-hover: #106363;
	--btn-search-border-color-hover:#106363;
	--btn-search-bg-hover:  #6ae2e2;
	
	--vertical-menu-bg: linear-gradient(to bottom, #249494, #7fe6e6);
	--vertical-menu-color: #FFF6D5;
	--vertical-menu-border: #106363;
	--vertical-menu-color-hover: #106363;
	--vertical-menu-bg-hover: #b8f7f7;
	--vertical-menu-color-active: #106363;
	--vertical-menu-bg-active: #95eeee;
	
	--table-border-color: #106363;
	--table-bg: #ccf7f7;
	--table-color: #106363;

	--form-border-color: #106363;
	--form-bg: #ccf7f7;
	--form-color: #106363;   
	
	--button-bg:linear-gradient(to bottom, #7fe6e6, #249494 );
	--button-color:  #FFF6D5;
	--button-border-color: #106363;

	--button-bg-hover:  #6ae2e2;
	--button-color-hover: #106363;
	--button-bg-active: #60d6d6;
	--button-color-active: #106363;
	 
    --font-color-black:#4b4f52;
   
	--slide-text-color: rgb(247, 242, 224);
}