    .header-link {
        margin-left:5px;
        margin-right: 5px;
    }
    .link-none {
        text-decoration: none !important;
        box-shadow: none !important;
    }
    .main-p-top {
        padding-top: 60px !important;
        padding-bottom: 10px !important;
    }
    aside div a
    {
        height:60px;
    }
    .height-accord-li li a{
        padding-left: 10px;
    }
    .accord-card-padding {
        padding: 0;
    }
    .scroll-area-plan {
        max-height:460px;
        overflow: auto;
    }
    .scroll-area-accord {
        max-height:500px;
        overflow: auto;
    }
    .height-submenu-link,
    .height-accord-li li {
        line-height: 1rem !important;
    }
    h5 {
        text-align: center;
    }
    ul.classes-mark-center li a {
        text-align: center !important;
    }
    .form-box,
    .nav-box {
        border: 1px solid #bbb;
        box-sizing: border-box;
        padding:10px;  
        border-radius: .25rem;
    }
    /*.table {
        border:1px solid rgb(94, 10, 10);
    }*/

    .btnAll {
        /*color*/
    }